.container{
    display: grid;
    border-radius: 11px;
    padding: 15px;
    grid-template-columns: 100%;
    background-color: skyblue;
}
.community{
    text-align: center;
    background-color: rgb(255, 253, 253);
}
.card-details{
    display: grid;
    grid-template-columns: 50% 50%;
}

.card{
    text-align: center;
    background-color: rgb(15, 67, 66);
}
.why-us{
    text-align: center;
    background-color: rgba(85, 145, 142, 0.698);
}